// Bedrock variables
$bedrock-green: #63805e;
$bedrock-teal: #538f99;
$bedrock-brown: #998468;
$bedrock-gray: #868b85;

/*-- scss:defaults --*/
// Overwrite bootstrap _variables.scss
$link-color: $bedrock-green;
$code-color: $bedrock-teal;
$text-muted: $bedrock-gray;

/*-- scss:rules --*/
// Define custom CSS rules for CSS selectors such as .classes and #ids here
a.external::after {
  background-size: 0.5em;
}
